nav {
  background-color: rgb(221, 176, 189);
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  color: rgb(76, 188, 202);
  font-family: cursive;
  align-items: center;
}
.navcenter {
  font-family: fantasy;
  color: white;
}

.navleft a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

nav ul li {
  list-style: none;
  display: inline-block;

  cursor: pointer;
  padding-left: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: rgb(19, 78, 167);
}
nav ul li a:hover {
  text-decoration: none;
  color: rgb(76, 188, 202);
}
.App {
  text-align: center;

  /* flex-direction: row; */
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(93, 208, 113, 0.8911939775910365) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

img {
  max-width: 5rem;
}
.detail-name {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.name {
  margin-bottom: 1rem;
  font-size: 1rem;
}
.box {
  max-width: 10rem;
  /* border: 2px solid; */
  margin-top: 5rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 4px 7px 11px 6px rgba(0, 0, 0, 0.38);
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 232, 29, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
}
.box-detail {
  width: 15rem;
  border: none;
  margin-top: 5rem;
  /* margin-left: 8rem; */
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 4px 7px 11px 6px rgba(0, 0, 0, 0.38);
  background-image: linear-gradient(
    45deg,
    rgba(25, 136, 247, 1) 26%,
    rgba(247, 25, 136, 1) 79%
  );
  border-radius: 5px;
}
.detail-main {
  justify-content: center;
  align-items: center;
  display: flex;
}
.form {
  margin-top: 5rem;
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}
.population {
  font-size: 1rem;
  margin: 0.5rem;
}
.App {
  text-align: center;
}
/* .about {
  margin-bottom: 5px;
} */

#input {
  max-width: 20rem;
  margin-right: 2rem;
  border: none;
  height: 1.8rem;
  border-radius: 5px;
  outline: none;
}
.info-box {
  width: auto;
  /* border: 2px solid; */
  margin-top: 3rem;
  margin-right: rem;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 4px 7px 11px 6px rgba(0, 0, 0, 0.38);
  background: linear-gradient(
    to bottom,
    #f99e15 0%,
    #eca014 10%,
    #ca961c 25%,
    #d39e17 37%,
    #dca312 50%,
    #bd8a13 51%,
    #ed850f 83%,
    #fb6717 100%
  );
}
.borders {
  margin-top: 2rem;
}
.btn-info {
  margin-top: 5px;
}
